# Environment and Secrets
.env
.venv/
.env.local

# Python artifacts
__pycache__/
*.pyc
*.pyo

#dataset
cv/datasets/

cv/models

# IDE/Editor
.ipynb_checkpoints/
.vscode/
.idea/

# Backend Data Pipeline & Storage (Generated data)
backend/data_pipeline/clean/
backend/data/chunk_factory/

# Frontend
frontend/dist/
frontend/node_modules/
frontend/.DS_Store

# Misc
.DS_Store